.DS_Store
.gradle/
.idea
**/build/
**/bin/
*/.gradle/
*/.idea/*
**/.vscode/*
**/out/
/Tutorial/missionmars/Web-UI/node_modules/
**/logs/
corda-nodeinfo/corda-nodeinfo.iml
*~*
**/*.cpb
**/docker-compose.yaml
